@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Space+Grotesk:wght@600&display=swap');

.darkFont, *{
  color: #2e5273;
}
.map{
  margin-right: 23px;
  margin-top: 23px;
  padding: 0;
}
.mapPurple{
  background-color: #8f7ba7;
}
.mapBlue{
  background-color: #66a1dd
}
.mapNavy{
  background-color: #2e5273;
  border: 2px solid #2e5273;
}
.car{
  background-color: #66a1dd
}
.edu{
  background-color: #8f7ba7;
}

ul{
  list-style: none;
  padding: 2px;
  font-size: 12px;
}
.boxStyle{
  border: 0px;
  text-align: center;
  color:  #d8dcde;
  margin: 0;
}

.myMap{
  margin: 5px;
  padding: 0px;
}

.center{
  text-align: center;
}

.welcome{
  font-family: 'Lato', sans-serif;
  padding: 5%;
}

img {
  width: 60%;
  object-fit: cover;
}

h1{
  color: #745f8d;
}

h2{
  color: #66a1dd;
}

.navbarColour{
  background-color:  #66a1dd;
}

.stickyNote{
  background-color: rgb(253, 253, 129);
  width: 100%;
  margin: 0;
  border: 0;
}

form{
  color: #2e5273;
}

.lightFont{
  color: whitesmoke;
  font-size: small;
}

.form-control{
  color:#2e5273 !important;
}

.form-control:not(active){
  color:#2e5273 !important;
}
.form-control:focus{
  color:#2e5273 !important;
}
.form-control::-webkit-input-placeholder {
  color:#2e5273 !important;
}
.select-placeholder-text {
  color: #2e5273 !important;
}
.button{
  background-color: #66a1dd;
}
.margin10{
  margin: 10px
}
.greyButton, ::-webkit-file-upload-button {
  color: #2e5273;
  background-color: #d1c4e0;
  border-radius: 4px;
  border: 2px solid #2e5273;
  padding: 5px;
}

.smallFont{
  font-size: small;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  background-color: #2e5273;;
}

.section{
  margin: 10px;
}

.block{
  display: block;
}

.plannerNumberInput{
  background-color: #d1c4e0;
  border-radius: 0px;
}

.totalButton, .totalInput{
  width: 80px;
  display: inline-block;
  background-color: #66a1dd;
  border: 0px;
}

.totalInput{
  border: 2px solid #66a1dd;
}
.Career{
  border: 4px solid #66a1dd;
  padding: 10px;
  margin-bottom: 10px;
}
.Education{
  border: 5px solid #8f7ba7;
  padding: 10px;
  margin-bottom: 10px;
}

.forgotButton{
  background-color: rgb(253, 253, 129);
}

.white{
  color: beige;
}

.end{
  text-align: left;
  margin-left: 40px;
}

.start{
  text-align: right;
  margin-right: 40px;
}